<div align="center">
	<mat-card class="matcard"><b style="font-size: 20px;color: blue">Delete User</b></mat-card>
</div>

<form (submit)="getValue()">
	<div align="center" style="padding: 10px">
		<mat-card  class="post-card">
			<div class="col">

				<div class="row-2">
					<mat-form-field>
					    <input matInput [(ngModel)]="userId" name="userId" placeholder="Enter The userId">
					 </mat-form-field>
				</div>


			</div>

			<div class="row" >
				<div class="col-6" style="padding: 15px">
					<button mat-button class="get" type="reset">RESET</button>
				</div>
				<div class="col-6" style="padding: 15px">
					<button mat-button class="get"  type="submit">DELETE</button>
				</div>

			</div>
		</mat-card>
	</div>
</form>