.matcard
{
	width: 450px;
	/*padding-top: 100px;*/
	background-color: rgb(157, 206, 237);
}

.post-card
{
	/*padding: 20px;*/
	height: 350px;
	width: 450px;
	/*background-color: rgb(237, 240, 245);*/
	background-color: rgb(157, 206, 237);
}

.input
{
	width: 200px;
}

.get
{
	background-color:rgb(9, 45, 227);
	height: 30px;
	width: 50px;	
	color: white;
	font-size: 10px;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											
}
